.content {
  margin-left: 30vw;
  margin-top: 15vh;
}

a {
  color: inherit !important;
}

input,
input:focus,
input:hover,
input:active {
  background: none !important;
  border: 0 !important;
  outline: none !important;
  border-color: inherit !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  color: cyan;
}
.user,
.pass {
  color: cyan;
}

/*  GENERAL OPTIONS */

.loginDiv {
  width: 40vw;
  height: auto;
}

.loginPage {
  margin: 30px 30px 30px 30px;
  display: flex;
  flex-direction: column;
}
.loginBtnDiv {
  margin-top: 5vh;
}

.loginBtn {
  width: 36vw;
  height: 6vh;
}

/*  LOGIN PAGE */

.loginAlerts {
  margin-top: 25px;
  text-align: center;
}
.erroConexao {
  color: red;
}
.loginConexao {
  color: chartreuse;
}

/* dashboard */

.dashDiv {
  width: 96vw;
  height: 96vh;
}
.dashConteiner {
  margin-left: 1vw;
  margin-top: 1vh;
}

.leftPanel {
  display: flex;
  flex-direction: column;
  width: 8vw;
}
.header {
  width: 5vw;
}
.tablesFrame {
  height: 86vh;
  width: 5vw;
}
.dashContent {
  display: flex;
}
.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 3vw;
  width: 30vw;
}
.navBar {
  width: 86.5vw;
}

.mainContent {
  display: flex;
  width: 10vw;
  height: 88vh;
  margin-left: 10px;
  margin-top: 10px;
}

.frameContent {
  width: 86vw;
}
