.content {
  margin-left: 30vw;
  margin-top: 15vh;
}

a {
  color: inherit !important;
}

html,
body {
  background-color: rgb(8, 2, 2) !important;
}
button {
  background: none;
  color: red;
  width: auto;
  height: auto;
}


td,
th {
  background-color: rgba(71, 5, 5, 0.219);
  border-bottom: 0.8px solid rgb(220, 5, 5) !important;
}
a:hover,
button:hover,
li:hover {
  color: #99ffff;
}

input,
input:focus,
input:hover,
input:active {
  background: none !important;
  border: 0 !important;
  outline: none !important;
  border-color: inherit !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  color: red;
}
.user,
.pass {
  color: red;
}

.genericText{
  color: red !important;
}

/*  GENERAL OPTIONS */

.loginDiv {
  width: 40vw;
  height: auto;
}

.loginPage {
  margin: 30px 30px 30px 30px;
  display: flex;
  flex-direction: column;
}
.loginBtnDiv {
  margin-top: 5vh;
}

.loginBtn {
  width: 36vw;
  height: 6vh;
}

/*  LOGIN PAGE */

table {
  color: red;
}
.loginAlerts {
  margin-top: 25px;
  text-align: center;
}
.erroConexao {
  color: red;
}
.loginConexao {
  color: chartreuse;
}

/* database items */

.logoutBtn {
  background: none;
  color: red;
}
.leftPanel h1 {
  word-wrap: break-word;
  white-space: normal;
}
li {
  list-style-type: none;
}

.mdb-dataTables_paginate {
  display: none;
}
/* dashboard */

.databaseItem {
  font-size: 12px;
}
.dashDiv {
  width: 96vw;
  height: auto;
}
.dashConteiner {
  margin-left: 1vw;
  margin-top: 1vh;
  height: auto;
}

.leftPanel {
  display: flex;
  flex-direction: column;
  width: 14vw;
}
.header {
  width: 5vw;
}
.tablesFrame {
  height: auto;
  width: auto;
}
.dashContent {
  display: flex;
}
.rightPanel {
  height: auto;
  width: 4vw;
}
.navBar {
  width: 81vw;
}

.mainContent {
  display: flex;
  width: auto;
  height: auto;
  margin-left: 10px;
}

.frameContent {
  width: 80vw;
}
